@config '../../tailwind.config.js';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap');
@import 'tailwindcss';
@import 'tailwind-scrollbar-hide/v4';

body.cursor-hidden,
body.cursor-hidden * {
	cursor: none !important;
}

body {
	-webkit-app-region: drag;
}

button,
a,
input,
textarea,
select,
option,
[role='button'],
[role='dialog'],
[aria-modal='true'],
[contenteditable='true'],
.pointer-events-auto,
.no-drag {
	-webkit-app-region: no-drag;
}
